*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
    color: black;
}
.contain{
    background-color: rgb(100, 182, 237);
}
.typed p{
    text-align: center;
    color: cornsilk;
}
.contain h3{
    text-align: center;
    color: cornsilk;
    font-weight: 800;
}
.container-head img{
    width: 100%;
    height: auto;
    background-size: cover;
}
.about{
    margin-top: 3rem;
}
.about-1{
    margin-top: 3rem;
}
.title{
    font-size: 25px;
    font-weight: 800;
    margin: 1rem;
}
.titles img{
    height: 100%;
    width: 90%;
    float: left;
    margin-bottom: 2rem;
}
.titles p{
    font-size: 15px;
    margin: 1rem;
}
.access{
    font-weight: 800;
}
.list{
    list-style-type: none;
    margin: 1rem;
}
.list h3{
    font-weight: 800;
    font-size: 25px;
}
.todays{
    text-align: center;
    margin-top: 3rem;
}
.demand{
    font-size: 20px;
    font-weight: 800;
}
.todays p{
font-size: 16px;
}

.gain{
    margin: 1rem;
    margin-top: 2rem;
}
.skills h1{
    text-align: center;
    font-weight: 800;
}
.skills h2{
    font-weight: 800;
}
.skillspara{
    text-align: center;
}
.skillimage{
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.skillsimage{
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 2rem;  
}
.grid-container > div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 1rem;
}
.timeline-container{
    width: 1vh;
    
    margin-left: 30px;
    position: relative;
   }
   .timeline-container::after{
     height: 280vh;
     content: '';
     position: absolute;
     width: 5px;
     background-color: rgb(100, 98, 98);
     top: 0;
     bottom: 0;
     left: 0%;
     margin-right: -3px;
   }
   .text-wrapper{
    padding: 10px 10px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
    margin:50px 0;
   }
.text-wrapper::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  background-color: #033cb9;
  top: 15PX;
  border-radius: 50%;
  z-index:1;
}
   .skills-roadmap h1{
   text-align: center;
   font-weight: 800;
   }
   .skills-roadmap p{
    text-align: center;
   }
   .text{
    padding: 15px 15px 15px 18px;
    background-color: rgb(224, 220, 220);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
  }
   .text {
     width: 70vw;
     margin: 2vh;
     padding: 1vh;
   }
   .text h3{
    margin-top:10px;
    margin-left: 1vh;
    color:#033cb9;
    font-size:16px;
  }
   .text p{
     margin-left: 1vh;
     font-weight: 300;
     font-size: 12px;
     margin-top: 2px;
     color:#3f4041;
     font-family: 'Montserrat', sans-serif;
   }
   .text .main-1  {
     color: red;
     font-weight: bold;
   }
   .text .main-2  {
    color: red;
    font-weight: bold;
  }
  .wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
  
  }
  .cards img{
    width:40vw;
    padding-top: 10px;
    border-radius: 100%;
    margin-right: 1rem;
    margin-top: 20px;
    }
    .cards{
        border-radius: 50px;
        background: #f3f3f3;
        box-shadow:  20px 30px 60px #c5c5c5, 
                     -20px -30px 60px #fbfbfb;
        width: 40vh;
        margin:0 auto;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
      }
      .cards h1{
        margin: 0 auto;
        padding: 10px;
        font-size: 1.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .cards p{
        margin: 0 auto;
        padding: 0px;
        font-size: .8rem;
      }
    .cards a{
      text-decoration: none;
      color: rgb(44, 11, 235);
      padding: 10px;
      font-size: 20px;
    }
    .team-head{
      font-family: 'Montserrat', sans-serif;
    }

    
.footer h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
  }
  .footer{
   background-color: #d6d6d6;
   color: #f8f9fa;
   height: 100vh auto;  
   margin-top: 4rem;
  }
  .footer .grid-container{
    padding:20px;
  }
  a{
    text-decoration: none;
    color: rgb(44, 11, 235);
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  .grid-container p{
    font-family: 'Quicksand', sans-serif;
    color:#3f4041;
    font-size: 15px;
  }
  .grid-container .footer-about{
    margin-top: 10vh;
  }
  .grid-container .footer-items{
    margin-top: 10vh;
    padding: 0 auto;
  }
  .grid-container .footer-forms{
    margin-top: 10vh;
  }
  .footer p{
    font-size: 16px;
  }
  .footer-about h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 14px;
    color: #202124;
    text-align:left;
  }
  .footer-items h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 14px;
    color: #202124;
  }
  .footer-dev {
    text-align: left;
  }
  .footer-forms h1  {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 14px;
    color: #202124;
  }
  .footer-items .email{
    color: #202124;
    font-family: 'Montserrat', sans-serif;
  }
  .footer .footer-bottoms{
    background-color: rgb(192, 192, 192);
    height: 60px;
    width: 100%;
    position: relative;
    text-align: center;
    color:  #202124;;
    top: 100%;
    bottom: 0;
    left: 0px;
    padding-top:20px ;
    font-family: 'Montserrat', sans-serif;
  }
  .footer-forms ul{
    margin: 25px;
    color:#3f4041;
  
  }
  .media a{
    position: absolute;
    color: #e01919;
  }
  
  .media li  {
    display: inline-block;
    list-style: none;
    position: relative;
    display: inline-block;
    padding:20pt;
    margin: 1px ;
    font-size: 30px;
    transition: .5s;
  }
  li,a:hover{
    color: #a19898;
    border: 1px #5a5757;
    transition: -5s;
  }
    .footer .move-up{
    top: 80%;
    position: fixed;
    right: 1rem;
  }
  .footer .move-up span{
    color: #8E2DE2;
  }
  .footer .move-up span:hover{
    color: #c5c4c4;
    cursor: S;
  }


  @media only screen and (min-width:768px) and (max-width:900px){
      .typed p{
          font-size: 30px;
          color: rgb(248, 248, 248);
      }
      .contain h3{
        font-size: 35px;
      }
      .container{
          margin-left: 3rem;
      }
      .title {
        font-size: 35px;
        margin-top: 10rem;
      }
      .titles img{
        height: 100%;
        width: 50%;
        float: right;
        margin-bottom: 2rem;
    }
    .titles p{
        font-size: 20px;
    }
    .access{
        font-weight: 800;
    }
    .demand{
        font-size: 35px;
    }
    .todays p{
        font-size: 20px;
    }
    .skillimage{
        width: 80%;
        margin: 0 auto;
    }
    .skillsimage{
        width: 80%;
        margin-left: 7rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: 2rem;
    }
    .timeline-container::after{
        height: 190vh;
    }
    .text h3{
        font-size: 25px;
    }
    .text p{
        font-size: 20px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 2px;
      }
      .cards img{
          width: 20vw;
          margin: 0;
      }
      .cards{
          width: 40vw;
          margin: 2rem;
          padding: 2rem;
      }
  }
  @media screen and (min-width:901px) and (max-width:1080px){
    .typed p{
        font-size: 50px;
        color: ivory;
    }
    .title {
        font-size: 35px;
        margin-top: 10rem;
      }
    .titles img{
        width: 50%;
        float: right;
    }
    .skillimage{
        width: 80%;
        margin: 0 auto;
    }
    .skillsimage{
        width: 80%;
        margin-left: 7rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: 2rem;
    }
    .timeline-container::after{
        height: 170vh;
    }
    .text h3{
        font-size: 25px;
    }
    .text p{
        font-size: 20px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 2px;
      }
      .cards img{
        width: 20vw;
        margin: 0;
    }
    .cards{
        width: 40vw;
        margin: 2rem;
        padding: 2rem;
    }
}
    @media screen and (min-width:1081px) and (max-width:1300px){
        .typed p{
            font-size: 50px;
            color: ivory;
        }
        .title {
            font-size: 35px;
            margin-top: 10rem;
          }
        .titles img{
            width: 50%;
            float: right;
        }
        .skillimage{
            width: 80%;
            margin: 0 auto;
        }
        .skillsimage{
            width: 80%;
            margin-left: 7rem;
        }
        .grid-container{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            margin: 2rem;
        }
        .timeline-container::after{
            height: 170vh;
        }
        .text h3{
            font-size: 25px;
        }
        .text p{
            font-size: 20px;
        }
        .wrapper{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-gap: 2px;
          }
          .cards img{
            width: 20vw;
            margin: 0;
        }
        .cards{
            width: 40vw;
            margin: 2rem;
            padding: 2rem;
        }
  }
  @media only screen and (min-width:1301px) and (max-width:1500px){
    .typed p{
        font-size: 50px;
        color: ivory;
    }
    .title {
        font-size: 35px;
        margin-top: 10rem;
      }
    .titles img{
        width: 50%;
        float: right;
    }
    .demand{
        font-size: 35px;
    }
    .skillimage{
        width: 50%;
        margin: 0 auto;
    }
    .skillsimage{
        width: 40%;
        margin-left: 25rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        margin: 3rem;
    }
    .timeline-container::after{
        height: 320vh;
    }
    .text h3{
        font-size: 25px;
    }
    .text p{
        font-size: 20px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 2px;
      }
      .cards img{
        width: 15vw;
        margin: 0;
    }
    .cards{
        width: 25vw;
        margin: 2rem;
        padding: 2rem;
    }
}