*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   
}

p{
  font-family: 'Lato', sans-serif;
    color: #020202;
    font-weight:300;
  }
html{
  scroll-behavior: smooth;
}
.containers{
  margin-left: 0.8rem;
}
.maintext{
  margin: 2rem;
  text-align: center;
}

.classaccess{
  color: rgb(38, 0, 255);
}
.contain{
  /* background-color: rgb(97, 181, 214); */
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  


.typed p{
  padding: 1rem;
  text-align: center;
  color: white;
  
}
.landing-text  {
  color:white;
  margin-left: 1.5rem;
  font-weight: bold;

}
.landing-para{
  color:white;
  margin-left: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: thin;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-right: 3rem;
}
.container-head  img{
    width: 100%;
    height: auto;
    background-size: cover;
}
.about{
    margin-top: 3rem;
}
.about-1{
    margin-top: 3rem;
}
.why{
  width: 80%;
  margin: 2rem;
}
.title{
    font-size: 25px;
    font-weight: 800;
    margin: 1rem;
}
.title-1{
  font-size: 25px;
    font-weight: 800;
    margin: 1rem;
}
.titles-grid img{
  width: 80%;
  margin: 2rem 0 0 0;
}
.codetogit{
  margin-left: 1rem;
  margin-right: 2rem;
  width: 80vw;
}
.titles-grid {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 1rem;
}

.titles p{
  font-size: 15px;
  margin: 1rem;
}
.access{
    font-weight: 800;
}
.accesspara{
  font-size: 15px;
  padding: 1rem;
  margin: 0;
  width: 100%;
  padding: 2rem;
  color: #383838;
}
.list{
    list-style-type: disc;
    margin-left: 2rem;
    margin-top: 2rem;
   
}
.list h3{
    font-weight: 800;
    font-size: 25px;
    color: #7a7a7a;
    text-transform: uppercase;
}
.container-gain{
  background-color: #03105a;
  background-size: cover;

}
.container-teach{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgba(227, 255, 250, 1);
  margin-top: 2rem;
}
.teach img{
  width: 80%;
  margin: 2rem;
  
}
.teach h1 {
  color: #01B1AF;
  margin: 0rem 2rem 0 2rem;
}
.teach p{
  color: #01B1AF;
  margin-top: 1rem;
  font-size: 16px;
  margin-bottom: 5rem;
}
.teach-1 h1 {
  color: #01B1AF;
  margin: 0rem 2rem 0 2rem;
  padding: 2rem;
}
.skillsimage{
  width: 80%;
  margin: 2rem;
}
.todays{
    text-align: center;
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    margin-bottom:2rem ;
    margin-top: 2rem;
    height: 100%;
  

}
.teach-skills h1 {
  color: rgb(127, 128, 195);
}
.teach-1 h6{
  color: rgb(127, 128, 195);
  margin-top: 1rem;
}
 .why-access{
   line-height: 1;
   font-weight: 800;
  color: rgb(61, 61, 129); 
}
.gain{
    margin: 0rem;
    margin-top: 0rem;
    /* border-top-left-radius: 30px 25px;
    border-top-right-radius: 30px 25px; */
    /* background-color: #dadada; */
    background-color: rgb(219, 224, 255);
    background-size: cover;
    
}
.skills{

  padding-top: 2rem;
  margin: 0;
}
.skills h1{
    text-align: left;
    font-weight: normal;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 1rem;
}
.skills h2{
    font-weight: 800;
    /* color: #585757; */
    /* display: none; */
    color: rgb(47, 54, 54);
}
.skills p{
  color: #7a7a7a;
  font-weight: lighter;
  margin-bottom: 1rem;
}
.svg-logo{
 width: 30%;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
.sections{
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 2rem;
  margin-top: 2rem;
}
/* .one  {
  
  background-color:rgb(18, 128, 73);

}

.two{
  
  background-color:rgb(9, 97, 70);
} */

.img-section{
  width: 100%;
  height: 40vh;
  padding: 1rem;
  /* background-color: rgb(228, 228, 228); */
 }
.skillspara{
    text-align: center;
}
.skillimage{
    width:70vw;
    padding: 1rem;
   
}
.skillsimage img{
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.grid-container > div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
    margin: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 11px;
background:  rgb(223, 223, 250);
box-shadow:  10px 10px 20px #949494, 
             -10px -10px 20px #ffffff;
}
.grid-container>div:hover{
  background-color: #d9ccf8;
  transition: all 5s ease-in;
}
.roadmapsection{
  display: grid;
  grid-template-columns: auto;
}
.roadmapimg{
  display: none;
}
.timeline-container{
    width: 1vh;
    
    margin-left: 30px;
    position: relative;
   }
   .timeline-container::after{
     height: auto;
     content: '';
     position: absolute;
     width: 5px;
     background-color: rgb(100, 98, 98);
     top: 0;
     bottom: 0;
     left: 0%;
     margin-right: -3px;
   }
   .text-wrapper{
    padding: 10px 10px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
    margin:20px 0;
   }
.text-wrapper::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  background-color: #515bde;
  top: 15PX;
  border-radius: 50%;
  z-index:1;
}
.skills-roadmaps{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); 
  padding-bottom: 3rem;
}
   .skills-roadmap h1{
   text-align: left;
   text-transform: uppercase;
   margin-top: 5rem;
   padding-top: 3rem;
   margin-left: 2rem;
   color: #f8f9fa;
   font-weight: 800;
   }
   .skills-roadmap p{
    text-align: left;
    margin-left: 2rem;
    color: #f8f9fa;
   }
  .ourteam h1 {
    text-align: left;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color:#7a7a7a;
    margin: 2rem;
    font-size: 2rem;
}
.vertical-timeline{
 margin: 0 auto;
}
.vertical-timeline-element-content {
   width: 70vw;
}
.vertical-timeline-element--work p{
  font-weight: normal;
  margin: 0;
}
.timeline-master{
  color:white;
}
  .wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
  
  }
  .certificate h1{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color:#7a7a7a;
    margin: 2rem;
  }
  .grid-certificate{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 1rem;
    margin-top: 2rem;
  }
  .grid-certificate p{
    margin: 1rem;
    font-size: 1rem;
  }
.grid-certificate img{
  object-fit: cover;
  width: 100%;
}
  .grid-card{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
    }
  .cards img{
    object-position: 50% 50%;
    width: 144px;
    height: 148px;
    object-fit: cover;
    border-radius: 100%;
    filter: grayscale(100%);
    }
    .cards{
        margin:0 auto;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 1rem;
      }
     
      .cards h1{
        margin: 0 auto;
        padding: 10px;
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #0f0f0f;
      }
      .cards p{
        margin: 0 auto;
        padding: 0px;
        font-size: .6rem;
        color:rgb(10, 10, 10);
        font-weight: 800;
      }
    .cards a{
      text-decoration: none;
      color: rgb(44, 11, 235);
      padding: 10px;
      font-size: 20px;
    }
 
    .team-head{
      font-family: 'Montserrat', sans-serif;
    }

    
.footer h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
  }
  .footer{
   background-color: #fafafa;
   color: #f8f9fa;
   height: 100vh auto;  
   margin-top: 4rem;
  }
  .footer .grid-container-footer{
    padding:20px;
  }
  .footer a{
    text-decoration: none;
    color: rgb(101, 79, 228);
  }
  .grid-container-footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  .grid-container-footer p{
    font-family: 'Quicksand', sans-serif;
    color:#3f4041;
    font-size: 15px;
  }
  .grid-container-footer .footer-about{
    margin-top: 5vh;
  }
  .footer p{
    font-size: 16px;
  }
  .footer-about h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 14px;
    color: #202124;
    text-align:left;
  }
  .footer-about{
    margin: 2rem;
  }
  .footer-about li{
    list-style-type: disc;
    margin-left: 2rem;
  }
  .footer .footer-bottoms{
    background-color: rgb(192, 192, 192);
    height: 60px;
    width: 100%;
    position: relative;
    text-align: center;
    color:  #202124;;
    top: 100%;
    bottom: 0;
    left: 0px;
    padding-top:20px ;
    font-family: 'Montserrat', sans-serif;
  }
  .footer-forms ul{
    margin: 25px;
    color:#3f4041;
  
  }
  .media a{
    position: absolute;
    color: #e01919;
  }
  
  .media li  {
    display: inline-block;
    list-style: none;
    position: relative;
    display: inline-block;
    padding:20pt;
    margin: 1px ;
    font-size: 30px;
    transition: .5s;
  }
  li,a:hover{
    color: #a19898;
    border: 1px #5a5757;
    transition: -5s;
  }
    .footer .move-up{
    top: 80%;
    position: fixed;
    right: 1rem;
  }
  .footer .move-up span{
    color: #8E2DE2;
  }
  .footer .move-up span:hover{
    color: #c5c4c4;
    cursor: S;
  }


  @media screen and (min-width:700px){
      .typed p{
          font-size: 30px;
          color: rgb(248, 248, 248);
      }
      .containers{
        margin-right:3rem;
        margin-left: 3rem;
        padding: 0;
      }
      .contain h3{
        font-size: 35px;
        margin-left: 3rem;
      }
      .codetogit{
        display: none;
      }
      .landing-text{
        margin-right: 2rem;
        font-size: 4rem;
        text-align: left;
      }
      .landing-para{
        margin-right: 5rem;
    font-size: 1.5rem;
    text-align: left;
      }
      .title {
        font-size: 30px;
        margin-top: 5rem;
      }
      .title-1 {
        font-size: 35px;
        margin-top: 2rem;
        font-weight: 800;
      }
      .titles {
        display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
      }
      .titles p{
        padding: 4rem 0 0 2rem;
        margin:  0 0 0 1rem;
      }
      .section-flex {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        align-content: stretch;
	
      }
      
      .titles-grid img{
        width: 50%;
        float: right;
        margin: 0 auto;
      }
      .why{
        width: 35vw;
        margin-top: 3rem;
      }
    .titles-grid p{
        font-size: 16px;
        /* padding: 0rem 3em 3em 0; */
    }
    .titles-grid{
      display: flex;
      flex-direction: unset;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    }
    .list{
      display: grid;
      grid-template-columns: auto;
      grid-gap: 2rem;
      padding: 2rem;
      margin: 0;
      /* background-color: rgb(199, 199, 199); */
    }
    .list h3{
      color:#7a7a7a;
      text-transform: uppercase;
      font-family: 'lato',sans-serif;
    }
    .list li{
      margin-left: 3rem;
    }
    .access{
        font-weight: 800;
    }
    .accesspara{
      font-size: 16px;
      color: #252525;
      padding: 2rem;
      margin-top: 1rem;
    }
    .demand{
        font-size: 35px;
    }
    .todays{
      height: 100%;
      width: auto;
    }
    .todays p{
        font-size: 20px;
    }
    .skillimage{
        width: 50%;
        height: auto;
        margin: 0;

    }
    .skills-roadmap h1{
      font-size: 4rem;
    }
    
    .certificate h1{
      font-size: 4rem;
    }
    .ourteam h1{
      font-size: 4rem;
  
    }
    .list{
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 2rem;
      margin-top: 2rem;
    }
    
    .img-section{
      display: flex;
      align-items: center;
      width: auto;
      height: 40vh;
      margin: 0 auto;
      padding: 2rem;
      /* background-color: rgb(228, 228, 228); */
     }
.teach img{
  width: 50vw;
  object-fit: cover;
}
.teach h1 {
  margin: 4rem 2rem 0 2rem;
}
.teach-skills{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.teach-skills img{
  width: 50%;
  padding: 2rem;
  object-fit: cover;
}

.teach-skills h1 {
  font-weight: normal;
  text-transform: none;
  font-size: 2rem;
}
.teach-skills p{

  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}
  .teach{
    
	  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
     /* display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto; */
   }
   .wrappers {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
    }
    .skillsimage{
        width: 80%;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: 1rem;
        padding: 1rem;
    }
    .grid-container-footer{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      margin: 1rem;
      grid-gap: 0;
  }
  .roadmapsection{
    margin-bottom: 4rem;
    padding: 2rem;
  }

 .skills-roadmaps{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   padding: 2rem;
 }

    .timeline-container::after{
        height: auto;
    }
    .text h3{
        font-size: 25px;
    }
    .text p{
        font-size: 20px;
        color: black;
    }
    .wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 2px;
      }
      .certificate h1{
        margin:4rem 3rem 2rem 2rem;
      }
      .grid-certificate{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        padding: 1rem;
      }
      .grid-certificate img{
        width: 100%;
        object-fit: cover;
      }
      .grid-certificate p{
        font-size: 1.5rem;
        margin-left: 2rem;
        padding-top: 3rem;
      }

      .cards img{
        width: 144px;
        height: 148px;
        padding: 0.5rem;
          margin: 0;
      }
      .cards{
        width: auto;
        padding: 1rem;
      }
      .cards h1{
        font-size: 20px;
        padding: 0;
      }
      .cards p{
        font-size: 10px;
        font-weight: normal;
      }
      /* .grid-card{
          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-rows: auto;
      } */
      .footer-about{
        padding-top: 5rem;
        margin: 3rem;
      }
  }
  /* @media only screen and (min-width:770px) and (max-width:1024px){
    .skillimage{
      width: 50%;
      height: auto;
      margin: 0 auto;
  }
  .titles-grid{
    display: flex;
    flex-direction: unset;
  }
  .titles-grid p{
    font-size: 25px;
  }
    .grid-container{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-gap: 0.5rem;
      margin-top: 2rem;
    }
    .timeline-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
     }
  } */
  @media only screen  and (min-width:900px) and (max-width:1099px){
    .maintext{
      margin: 4rem;
      text-align: center;
      margin-top: 0;
    }
    .titles-grid img{
      padding: 0rem;
    }
    .titles-grid{
      display: flex;
    flex-direction: unset;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    }
    .title {
      font-size: 35px;
      margin-top: 10rem;  
    }
    .landing-text{
      font-size: 5rem;
      margin-right: 5rem;
    }
    .landing-para{
      font-size: 2rem;
      margin-right: 5rem;
    }
  
    .titles img{
      height: auto;
      float: right;
      margin: 0 auto;
      padding: 1rem;
    }
    .titles p{
      padding: 0 0 0 2rem;
      margin: 0 0 0 1rem;
    }
  .codetogit{
    display: none;
  }
.skillimage {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.skillsimage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.sections{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.one{
  width: 100%;
  height: auto;
}
.two{
  width: 100%;
  height: auto;
}
.img-section{
  width: 100%;
}
.teach img{
  width: 40vw;
  padding: 3rem;
  margin-left: 4rem;
  object-fit: cover;
}
.teach h1{
  padding-top: 1rem;
}
.teach p{
  padding-right: 8rem;
}

.teach-skills h1 {
  margin: 0rem 0rem 0 5rem;
  font-size: 2rem;
  padding: 0;
}
.teach-skills img{
  width: 40vw;
  padding: 1rem;
  margin-right: 6rem;
  object-fit: cover;
}
    .grid-container{
      display: grid;
      grid-template-columns: auto auto ;
      grid-template-rows: auto;
      grid-gap: 2rem;
      margin-left: 2rem;
      margin-right: 4rem;
    }
    .grid-container>div{
      margin: 2rem;
      margin-bottom: 3rem;
    }

    .skills h2{
      margin-top: 0rem;
    }
    .grid-container p{
      font-size: 20px;
      margin-top: 0;
      font-weight: 300;
    }
    .text{
      position: relative;
      width: 60vw;
    }
    .timeline-container::after{
      height: auto;
    }
    .wrappers{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-gap: 5px;
    }
    .cards{
      width: auto;
    }
    .certificate h1{
      font-size: 3rem;
    }
    .grid-container-footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 5rem;
    margin-top: 5rem;
    grid-gap: 2rem;
    width: auto;
    }
    .footer-about h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 300px;
      color: #202124;
    }
    .footer-about li{
      list-style-type: none;
    }
  }

  @media only screen  and (min-width:1100px) and (max-width:2500px){
    .maintext{
      margin: 4rem;
      text-align: center;
      margin-top: 0;
    }
    .containers{
      margin-left: 7rem;
      margin-right: 5rem;
    }
    .title {
      font-size: 35px;
      margin-top: 10rem;
     line-height: 1rem;
    }
    .titles p{
      font-size: 25px;
    }
    .landing-text{
      font-size: 5rem;
      margin-right: 5rem;
    }
    .landing-para{
      font-size: 2rem;
      margin-right: 6rem;
    }
    .roadmapimg{
      display: flex;
    }
    .title-1 {
      margin-top: 10rem;
    }
  
    .why{
      margin: 0;
      padding: 2rem;
    }
 
 .titles-grid{
    display: flex;
  flex-direction: unset;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
 }
 .titles-grid img{
   width: 25vw;
   margin-right: 10rem;
 }
  .titles-grid p{
    font-size: 25px;
    margin-right: 5rem;

  }
  .codetogit{
    display: none;
  }
.skillimage {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.teach img{
  width: 30vw;
  margin: 3rem 0 5rem 7rem;
}
.teach h1{
    font-size: 4rem;
    padding-left: 5rem;
  /* padding-top: 4rem;
  margin-top: 4rem;
  font-size: 4rem;
  padding: 4rem; */
}
.teach p{
  margin-top: 2rem;
  padding-right: 8rem;
  font-size: 1.4rem;
}
.teach-skills h1{
  margin: 0rem 0rem 0 4rem;
  font-size: 4rem;
  padding: 0;
}
.teach-1 {
  font-size: 1.5rem;
}
.teach-skills img{
  width: 40vw;
  padding: 5rem;
  margin-right: 5rem;
  object-fit: cover;
}
.sections{
  display: grid;
  grid-template-columns: auto auto;
}
    .grid-container{
      display: grid;
      grid-template-columns: auto auto ;
      grid-template-rows: auto;
      margin-left: 10rem;
      margin-right: 10rem;
    }
    .grid-container>div{
      margin: 2rem;
      margin-bottom: 1rem;
    }

    .skills h2{
      margin-top: 0rem;
      
    }
    .sections h3{
      font-size: 30px;
    }
    .accesspara{
      margin-top: 2rem;
      font-size: 25px;
    }
    .grid-container p{
      font-size: 20px;
      font-weight: 300;
      margin-top: 0;
    }
    .text{
      position: relative;
      width: 30vw;
    }
    .roadmapsection{
      display: grid;
      grid-template-columns: 50% auto;
      grid-template-rows: auto;
    }
    .timeline-container::after{
      height: auto;
    }
    .wrappers{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-gap: 1rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .certificate-para{
      padding: 10rem;
    }
    .grid-certificate{
      margin-left: 5rem;
      /* margin: 5rem; */
      padding: 5rem;
    }
    .cards{
      width: auto;
      margin: 0 auto;
    }
    .cards img{
      width: 170px;
      height: 170px;
    }
    .cards p{
      font-size: 14px;
    }
    .cards h1{
      font-size: 25px;
    }

    .grid-container-footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 5rem;
    margin-top: 5rem;
    grid-gap: 0rem;
    width: auto;
    }
    .footer-about h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 300px;
      color: #202124;
    }
    .footer-about li{
      list-style-type: none;
    }
  }

